body{
    font-family: Arial, Helvetica, sans-serif;
    border-color: #333;
    color: #fff;
    margin: 0;
}

.header-section{
    position: relative;
    height: 100vh;
    color: #fff;
    background: url(../images/home.jpg) no-repeat center center/cover; 
}
.header-navbar{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    text-align: center;
}
.header-navbar a{
    text-decoration: none;
    color: whitesmoke;
}
.header-navbar ul li a{
    display: block;
    color: whitesmoke;
    border-radius: 5px;
    text-align: center;
    padding-left: 30px;
}
.header-content{
    position: absolute;
    top: 35%;
    left:20%;
    text-align: center; 
}
.wrapper{
    display: inline-flex;
}
.wrapper .static-text{
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    margin-right: 15px;
}
.wrapper ul.dynamic-text{
margin-left: 0;
/* background-color: #fff; */
height: 50px;
line-height: 47px;
overflow: hidden;
}
/* .wrapper ul.dynamic-text li{

} */
.wrapper ul li{
    list-style: none;
    font-size: 40px;
    font-weight: bold;
    color: coral;
}
/* @keyframes slide{
    100%{
        top: -360px;
    }
} */
.wrapper ul li span{
    position: relative;
}
.wrapper ul li span::after{
    content: "";
    position: absolute;left: 0;
    width: 100%;
    height: 100%;
    padding: 5px;
    background-color: rgb(14, 8, 51);
    border-left: 2px solid coral ;
    animation: typing 8s steps(19) infinite;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}
@keyframes typing {
    100%{
        left: 100%;
        margin: 0 -35px 0 35px;
        opacity: 0.5;
    }
}

.header-content a.btn{
    display: inline-block;
    text-decoration: none;
    background-color: whitesmoke;
    color: steelblue;
    padding: 10px;
    margin-left: 10px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
}
/* .headerheader-section:before {
    content: '';
    background: url(../images/home.jpg) no-repeat center center/cover;
    opacity: 0.4;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
} */
