*{
    margin: 0;
    padding:0;
    box-sizing: border-box
}
/*main styling */
html, body{
    background-color: #f2f2f2;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container{
    position: relative;
    background-color: #fff;
    margin: auto;
    overflow: hidden;
    width: 80%;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.head{
    border: none;
    border-bottom: 1px solid #f2f2f2;
}
/*header */
.jblogo{
    display: block;
    float: left;
    color: black;
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
    padding-left: 30px;
}
.jblogo span{
    color: coral;
    font-size: 30px;
}
.navbar{
    float: right;
    list-style: none;
}
ul.navbar li{
    float: left;
}
ul.navbar li a{
    display: block;
    color: black;
    padding: 10px;
    font-size: 20px;
    padding-right: 40px;
    text-align: center;
}
ul.navbar li a:hover{
    background-color: #f2f2f2;
    color: coral;
}
ul.navbar li .active{
    background-color: #f2f2f2;
    color: rgb(122, 44, 16); 
}
.info{
    padding:50px;
}
 .box-container{
    position: relative;
    background-color: #fff;
    margin: auto;
    overflow: hidden;
    width: 80%;
    height: 450px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.blue-box{
    position: absolute;
    top: 150px;
    left: 8%;
    background-color:#f2f2f2;
    width: 80%;
    height: 50px;
    border-radius: 50px;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#image-box{
    position: relative;
    width: 100%;
    height:100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* background-color: black; */
    margin: auto;
    padding-top: 10px;
}
img.image-box{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 20%;
    display: block;
    width: 50%;
    height:100%;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 50%;
    z-index: 22;
}
.darkgrey-box{
    position: absolute;
    right:0;
    top: 40%;
    background-color:darkgrey;
    color: whitesmoke;
    width: 40%;
    height: 60px;
    border-radius: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center; 
}
.darkgrey-box h2{
    color: whitesmoke;
    text-shadow: 2px 2px 4px #000000;
    padding: 10px 10px 10px 80px;
}
.about-content h2,p{
    padding: 20px;
}
/* footer */
.container .footer-content{
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul.footer{
    list-style: none;
}

ul.footer li a{
    display: inline-block;
    padding-right: 15px;
    color: coral;
    font-size: 18px;
    text-decoration: none;
    border-color: cornflowerblue;
}
@media screen and (max-width: 500px) {
    .container, .box-container{
        width: 100%;
    }
    #image-box{
        height: 100%;
    }
    img.image-box{
        top: 7px;
        bottom: 0;
        left: 6%;
        width: 87%;
        height: 70%;
        margin: 0;
    }
    .darkgrey-box{
    right: 18px;
    top: 75%;
    width: 90%;
    height: 60px;
    }
    .blue-box{
        top: 308px;
        left: 2%;
        width: 80%;
        height: 56px;
    }
    .container .footer-content{
        display: block;
    }
    ul.footer li a {
        padding: 10px;
    }
}